body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.buttonConatainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button {
margin: 10px;
padding: 10px;
}
h1, h2, h3 ,p{
  text-align: center;
}